*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

body {
    background: #ece1f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weatherbox  {
    padding: 40px;
    background: white;
}


.form {
    display: block;
    border-bottom: 2px;
    margin: 60px ,0 ,60px;
 }


.search-input {
    background-color: rgb(227, 218, 235);
    color: rgb(27, 27, 27);
    border: none;
    height: 45px;
    border-radius: 8px;
    padding: 18px 20px;
    margin: 25px 0;
    width: 80%;
}

.btn-submit{
    background-color: rgb(158, 90, 221);
    color: rgb(255, 255, 255);
    border: none;
    height: 45px;
    border-radius: 8px;
    padding: 15px 20px;
}

.weather-properties {
       
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


.city-props {
    width: 50%;
    line-height: 1.4;
}

.city-props h1 {
    font-size: 30px;
    font-weight: bolder;
}
.humidity, .wind {
    color: #f65282;
}
.city-props div {
    color: rgb(128, 128, 128);
}


.temperature {
    width: 50%;
    font-size: 25px;
    height: 100px;
    display: flex;
    padding: 18px 10px;
    justify-content: right;
}

.emoji {
    height: fit-content;
    font-size: 32px;
}

.numb {
    height: fit-content;
    font-size: 55px;
    font-weight: bolder;
}

.temp-unit {
    height: fit-content;
}
.weatherProps {
    display: flex;
}

.footer {
    color: rgb(128, 128, 128);
}